@babel:registry=https://registry.npmjs.org
@microsoft:registry=https://registry.npmjs.org
@emotion:registry=https://registry.npmjs.org
@webassemblyjs:registry=https://registry.npmjs.org
@sindresorhus:registry=https://registry.npmjs.org
@mrmlnc:registry=https://registry.npmjs.org
@types:registry=https://registry.npmjs.org
@nodelib:registry=https://registry.npmjs.org
@samverschueren:registry=https://registry.npmjs.org
@xtuc:registry=https://registry.npmjs.org
@sentry:registry=https://registry.npmjs.org
